<!DOCTYPE html>
<html>
<head>
  <title>User Details</title>
  <link rel="stylesheet" href="/css/userDetails.css">
</head>
<body>
  <div class="details-container">
    <h2>User Details</h2>
    <ul class="details-list">
      <li><strong>Name:</strong> <%= user.name %></li>
      <li><strong>Class:</strong> <%= user.class %></li>
      <li><strong>Roll No:</strong> <%= user.rollNo %></li>
    </ul>
    <a href="/" class="back-link">â† Back to Users List</a>
  </div>
</body>
</html>